<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
  <title>Not Found | Image Steganography</title>
</head>

<body class="bg-gradient-primary">

  <div class="container">


    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Outer Row -->
      <!-- <div class="row justify-content-center"> -->
      <!-- <div class="col-xl-10 col-lg-12 col-md-9"> -->
      <div class="card shadow-lg my-5">

        <!-- 404 Error Text -->
        <br><br>
        <div class="text-center">
          <div class="error mx-auto" data-text="404">40</div>
          <p class="lead text-gray-800 mb-5">Page Not Found</p>
          <a href="/">&larr; Go Back</a><br><br>
        </div>

      </div>
      <!-- </div> -->
    </div>

  </div>
  <!-- /.container-fluid -->

  </div>

  <!-- Scripts -->
  {% include "partials/scripts.html" %}
  <!-- End of Scripts -->
</body>

</html>